* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.food_header {
  height: 600px;
  width: 100%;
  background-image: url("./img/header.png");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
.food_header .food_overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.food_header .food_overlay .navbar {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  display: flex;
  justify-content: center;
}
.food_header .food_overlay .navbar ul {
  display: flex;
}
.food_header .food_overlay .navbar ul li {
  list-style-type: none;
}
.food_header .food_overlay .navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-weight: 300px;
}
.food_header .food_overlay .navbar ul li a.active {
  color: seagreen;
}
.food_header .food_overlay .content {
  text-align: center;
  margin-top: 150px;
}
.food_header .food_overlay .content h1 {
  font-family: "Merienda";
  font-weight: bold;
  color: white;
  font-size: 100px;
}
.food_header .food_overlay .content p {
  color: white;
  font-size: 20px;
  letter-spacing: 6px;
}

.food_about {
  width: 100%;
  margin: 40px auto;
}
.food_about h2 {
  font-weight: bolder;
  text-align: center;
}
.food_about_contents {
  display: flex;
  justify-content: space-evenly;
  margin: 80px auto;
  flex-wrap: wrap;
}
.food_about_contents .food_about_content1 h4 {
  font-weight: bold;
}
.food_about_contents .food_about_content1 .text_color {
  color: #689f38;
}
.food_about_contents .food_about_content1 p {
  max-width: 500px;
  line-height: 40px;
}
.food_about_contents .food_about_content1 .food_about_icons {
  display: flex;
  max-width: 90px;
}
.food_about_contents .food_about_content1 .food_about_icons .icon1 {
  background-color: #689f38;
  padding: 30px 30px;
  border-radius: 55px;
  color: white;
  font-size: 30px;
  margin: 20px 17px;
}
.food_about_contents .food_about_content1 .food_about_icons .icon2 {
  background-color: #689f38;
  padding: 30px 30px;
  border-radius: 55px;
  color: white;
  font-size: 30px;
  margin: 20px 17px;
}
.food_about_contents .food_about_content1 .food_about_icons .icon3 {
  background-color: #689f38;
  padding: 30px 30px;
  border-radius: 55px;
  color: white;
  font-size: 30px;
  margin: 20px 17px;
}
.food_about_contents .food_about_content1 .food_about_icons .icon4 {
  background-color: #689f38;
  padding: 30px 30px;
  border-radius: 55px;
  color: white;
  font-size: 30px;
  margin: 20px 17px;
}
.food_about_contents .food_about_content2 {
  position: relative;
}
.food_about_contents .food_about_content2 .food_about_img_backgroundcolor {
  background-color: #689f38;
  height: 300px;
  width: 300px;
  margin: 50px auto;
}
.food_about_contents .food_about_content2 .food_about_img {
  position: absolute;
  left: 35px;
  top: 0px;
}

.food_offer {
  background-image: url("./img/offer.png");
  width: 100%;
  height: 500px;
  background-image: url("../../img/offer.png");
  color: #fff;
}
.food_offer .food_offer_overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.food_offer .food_offer_overlay .food_ofer_content {
  text-align: center;
  padding-top: 180px;
}
.food_offer .food_offer_overlay .food_ofer_content h1 {
  font-weight: bolder;
  font-size: 50px;
  letter-spacing: 5px;
}
.food_offer .food_offer_overlay .food_ofer_content p {
  letter-spacing: 5px;
}
.food_offer .food_offer_overlay .food_ofer_content button {
  background-color: white;
  padding: 10px 30px;
  border-radius: 20px;
  color: #689f38;
  transition: 0.5s all;
}
.food_offer .food_offer_overlay .food_ofer_content button:hover {
  color: white;
  background-color: #689f38;
}/*# sourceMappingURL=style.css.map */